.modal {
    display: none;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.8);
    margin: 0px;
    max-width: initial;
    padding: 0 10%;
}

.modal-content {
    border: 0px;
    margin: 10% auto;
    max-width: 620px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-body {
    min-height: 250px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity: 0}
    to {top:0 opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity: 0}
    to {top:0; opacity:1}
}

.close-button {
    border-radius: 3px;
    font-size: 16px;
    padding: 4px 10px;
}

.close-button:hover,
.close-button:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    background-color: #ddd;
}

.about-me-text {
    padding-top: 2rem;
}

@media only screen and (min-width: 768px) {
    .about-me-text {
        padding-top: 0px;
    }
}