#game-options {
    float: right;
}

#games .list-group-item {
    margin-bottom: 5px;
    overflow: auto;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.links h4{
    margin: 0 0 0px;
}

.links p{
    margin: 0 0 0px;
}

.panel-body {
    overflow: auto;
}















