body {
    padding-top: 172px;
    padding-bottom: 20px;
}

.container {
    position: relative;
}

.navbar-brand {
    position: absolute;
    bottom: 0;
}

.links h4{
    margin: 0 0 0px;
}

.links p{
    margin: 0 0 0px;
}















