body {
    padding-top: 172px;
    background: url("/static/img/soccer-streams-background.jpg");
    background-color: #808080;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    position: relative;
}

.navbar-brand {
    position: absolute;
    bottom: 0;
}

.links h4{
    margin: 0 0 0px;
}

.links p{
    margin: 0 0 0px;
}

.panel-body {
    background: #e6e6fa;
    height: 90vh;
    max-height: 90vh;
    overflow: auto;
}















