body {
    font-family: serif;
    background-color: #F2F2F2;
}

#nav {
    padding: 0px;
    background-color: #38003c;
    margin: auto;
}

#nav-header {
    color: white;
}

#nav-title {
    font-size: 18px;
    font-family: Roboto, serif;
    padding-left: 36px;
    padding-top: 11px;
    padding-bottom: 11px;
}

#nav-pills {
    text-align: center;
    padding: 0px;
    margin: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

#nav-pills ul {
    margin: 0px;
    padding: 0px;
    display: inline-flex;
}

.nav-pill {
    display: inline-block;
    font-size: 12px;
    font-family: Roboto, serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 16px;
    padding-top: 16px;
    padding-bottom:14px;
    width: 105px;
    list-style-type: none;
    color: white;
}

.nav-pill:hover {
    background-color: #2a002d;
    border-bottom: 3px solid white;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav-pill:active {
    border-bottom: 3px solid white;
}

.active {
    border-bottom: 3px solid white;
}

#wrapper {
    padding: 0px;
    max-width: 756px;
}

#match-days {
}

.match-day {
    margin: 0px;
    padding: 12px 0px 10px 0px;
    background: #f5f5f5;
    border-left: 1px solid rgb(0,0,0,.1);
    border-right: 1px solid rgb(0,0,0,.1);
    border-bottom: 1px solid rgb(0,0,0,.1);
}

.matches {
    border-left: 1px solid #E0E0E0;
    margin: 0px;
}

.match {
    background-color: white;
    padding: 0px;
    border-right: 1px solid #E0E0E0;
}

.match:hover {
    cursor: pointer;
    background-color: #FAFAFA;
}

.match-table {
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
}

.mt-sp {
    height: 24px;
}

.mt-sp-1 {

}

.team {
    font-size: 14px;
    width: 70%;
    padding-left: 15px;
    height: 32px;
}

.team-logo {
    display: inline-block;
    padding-right: 5px;
}

.score {
    float: right;
    display: inline-block;
    padding-right: 6px;
}

.date-time {
    font-size: 12px;
    text-align: center;
    border-left: 1px solid rgb(0,0,0,0.05)
}

.is-loading {
    border: 3px solid grey;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}