{% extends 'base.html' %}

{% block title %}
All Games
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">Today's Games</div>
    <div class="panel-body">
        {% if not matches %}
        <div class="alert alert-info">There are no games going on right now.</div>
        {% else %}
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th class="col-lg-2 col-md-2 col-sm-2">Time</th>
                    <th class="col-lg-5 col-md-5 col-sm-5">Game</th>
                    <th class="col-lg-5 col-md-5 col-sm-5">Link</th>
                </tr>
            </tbody>
            <tbody>
                {% for match in matches %}
                <tr>
                    <td class="col-lg-2 col-md-2 col-sm-2">{{ match.aceLink }}</td>
                    <td class="col-lg-2 col-md-2 col-sm-2">{{ match.time }}</td>
                    <td class="col-lg-4 col-md-4 col-sm-4">{{ match.match }}</td>
                    <td class="col-lg-4 col-md-4 col-sm-4"><form method="post" action="{% url 'watch_game' %}">
                        {% csrf_token %}
                        <input name="match-id" type="text" hidden="hidden" value="{{ match.id }}"/>
                        <input name="match-title" type="text" hidden="hidden" value="{{ match.match }}"/>
                        <button type="submit" class="btn btn-link">Watch</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}