{% extends 'base.html' %}

{% block title %}
All Games
{% endblock %}

{% block content %}
{% if not matches %}
<div class="alert alert-info">There are no games going on right now.</div>
{% else %}
<div id="games" class="container col-lg-6 col-md-6 col-sm12">
    <div class="list-group">
        {% for match in matches %}
        <div class="list-group-item col-lg-12 col-md-12 col-sm-12">
            <h3> {{ match.match }}</h3>
            <p>{{ match.time }}</p>
            <div class="pull-right">
                {% if match.aceLink %}
                <a class="btn btn-primary" href="{% url 'watch_game' %}match_id={{ match.id }}" role="button">
                    <i class="fa fa-play-circle-o"></i><span class="hidden-xs"> AceStreams</span>
                </a>
                {% endif %}
                <button class="btn btn-primary" type="button">
                    <i class="fa fa-info-circle"></i><span class="hidden-xs"> More Info</span>
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}