{% extends 'base.html' %}

{% block title %}
{{ data.selected_game }}
{% endblock %}

{% block content %}
{% for streamer in data.streamers %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Streamer: {{ streamer.streamer }}
                <span class="badge badge-primary badge-pill fa fa-arrow-up">{{ streamer.linkScore }}</span>
                </div>
                <div class="card-text">
                    <p>Available links: {{ streamer.streamer__count }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}