.ace-streams-container {
    width: 100%;
    text-align: center;
    overflow: auto;
}

.add-ace-stream {
    margin: auto;
}

.add-ace-stream-container {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    overflow: hidden;
}

.ace-form {
    margin: auto;
}

.content-id {
    width: 480px;
    padding-bottom: 10px;
    margin: auto;
}

.content-id label {
    padding-right: 10px;
}

.ace-form-buttons{
    float: right;
}

.add-sign:hover {
    color: #000000;
    cursor: pointer;
}

.tooltip-text {
    font-size: 14px;
    width: 140px;
    padding: 5px 0px;
    text-align: center;
    color: #fff;
    background-color: black;
    border-radius: 6px;
    visibility: hidden;

    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
}

.add-ace-stream:hover .tooltip-text {
    visibility: visible;
}

#acestreams .first-row {
    border-top: none;
}

#acestreams table {
    margin-bottom: 0px;
}