#game_info img {
    background: transparent url("/static/img/loading.gif") center no-repeat;
    width: 50px;
    height: 50px;
}

#card-close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
}

#card-close-button:hover {
    color: grey;
}

#card-close-button:focus {
    box-shadow: none;
}

.card-close-btn {
    margin-top: 10px;
}

#homeTeam {
    display: inline-block;
    width: 150px;
    height: 100px;
}

#awayTeam {
    display: inline-block;
    width: 150px;
    height: 100px;
}

.matchup_teams {
    padding-top: 10px;
}

#team_info img {
    background: transparent url("/static/img/loading.gif") center no-repeat;
    width: 50px;
    height: 50px;
}

.list-games {
    margin-bottom: 5px;
}

.game-info-hidden {
    display: none;
}

.game-info-displayed {
    position: relative;
}

.mobile-game-info img {
    background: transparent url("/static/img/loading.gif") center no-repeat;
    width: 50px;
    height: 50px;
}

.stream-rating {
    float: right;
}

.lineups {
    display: inline-block;
}

.lineup {
    float: left;
}

.lineup-position {
    margin-right: 10px;
    float: left;
    text-align: left;
    width: 32px;
}

.lineup-player {
    float: left;
    text-align: left;
}