body {
    font-size: 14px;
}

#matchup-wrapper {
    padding-top: 46px;
    max-width: 632px;
    background: #ffffff;
}

#matchup-header {
    padding-top: 16px;
    padding-bottom: 4px;
}

#matchup-info {
    font-size: 14px;
    color: rgba(0,0,0,0.54);
}

#matchup-info-wrapper {
    padding-bottom: 12px;
}

#matchup-league {
    color: #38003C;
}

#matchup-league:hover {
    color: #38003C;
}

#matchup-status {
    float: right;
    padding: 0px 4px;
    color: rgba(0,0,0,.87);
    text-transform: uppercase;
}

#matchup-teams {
    text-align: center;
    padding-top: 16px;
}

.team-name {
    margin-top: 4px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.separator {
    text-transform: lowercase;
    color: rgba(0,0,0,0.54);
}

#matchup-nav {
    border-top: 1px solid rgba(0,0,0,.15);
    margin-bottom: 4px;
    box-shadow: 0px 3px 2px #ddd;
}

#matchup-nav ul {
    width: 100%;
    margin: auto;
    padding: 0px;
    display: table;
}

#matchup-nav li {
    font-size: 12px;
    width: 50%;
    opacity: 0.5;
    padding: 16px 12px 14px;
    text-align: center;
    text-transform: uppercase;
    display: table-cell;
}

#matchup-nav li:hover {
    opacity: 1;
    cursor: pointer;
}

#matchup-nav li:active {
    opacity: 1;
}

#matchup-nav li.tab-active {
    opacity: 1;
}

.tab-content {
    display: none;
}

@media only screen and (min-width: 768px) {
    #matchup-header {
        padding-top: 24px;
    }
}