.gutter {
    margin-left: -15px;
    margin-right: -15px;
    background-color: #0B8449;
    height: 4%;
}

.lineups-container {
    margin-top: -4px;
    width: 100%;
    background-color: #0F9D58;
}

.lineups {
    text-align: center;
}

.half {
    height: 400px;
}

.half-line {
    margin-left: -15px;
    margin-right: -15px;
    height: 1px;
    background-color: rgba(255,255,255,0.3);
}

.center-circle {
    width: 100px;
    height: 100px;
    margin-top: 351px;
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 50%;
}

.position-center {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.big-d {
    width: 300px;
    height: 115px;
}

.small-d {
    width: 150px;
    height: 55px;
}

.d-circle {
    width: 206px;
    height: 140px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-radius: 100%;
}

.top-d {
    top: 2%;
    border-bottom: 2px solid rgba(255,255,255,0.3);
}

.bottom-d {
    bottom: 2%;
    border-top: 2px solid rgba(255,255,255,0.3);
}

.top-d-circle {
    top: 2%;
    border-bottom: 2px solid rgba(255,255,255,0.3);
}

.bottom-d-circle {
    bottom: 2%;
    border-top: 2px solid rgba(255,255,255,0.3);
}

.d-border {
    border-left: 2px solid rgba(255,255,255,0.3);
    border-right: 2px solid rgba(255,255,255,0.3);
}

.player {
    padding-top: 28px;
    color: white;
}

.player-circle {
    width: 32px;
    height: 32px;
    margin: auto;
    border-radius: 50%;
}

#home-team .player-circle {
    background-color: white;
}

#away-team .player-circle {
    background-color: black;
}

#away-team .player {
    z-index: 1;
}