.user-profile-container {
    background-color: #ffffff;
    max-width: 768px;
    margin: auto;
    padding: 24px 24px 36px;
    text-align: center;
}

#user-profile label {
    margin-top: .5rem;
    margin-bottom: 0px;
}

#user-profile .user-profile-field {
    border-bottom: 1px solid #ddd;
    border-radius: 0px;
}

#user-avatar {
    padding-top: 0px;
}

#user-avatar i {
    font-size: 70px;
}

#form-errors {
    display: none;
    text-align: center;
}

.user-profile {
    text-align: left;
}

.preview {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: auto;
    box-shadow: 1px 1px rgba(0,0,0,0.1);
}

.preview img {
    border-radius: inherit;
}

.file-selector-label {
    display: block;
    max-width: 130px;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-selector-input {
    opacity: 0;
    left: 0;
    position: absolute; /* Retains layout with a "hidden" element */
}

.submit-button {
    margin-top: 35px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    #user-avatar {
        padding-top: 30px;
    }

    .user-profile-container {
        padding: 48px 40px 36px;
        margin-top: 30px;
        border-radius: 8px;
    }

    .submit-button {
        text-align: right;
    }
}