.ace-streams-container {
    width: 100%;
    text-align: center;
    overflow: auto;
}

.add-ace-stream {
    margin: auto;
}

.add-ace-stream-container {
    text-align: center;
    overflow: hidden;
}

.ace-form {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
}

.ace-form-content {
    min-height: 150px;
}

.content-id {
    width: 480px;
    padding-bottom: 10px;
    margin: auto;
}

.content-id input {
    border: none;
    border-bottom: 1px solid #ddd;
}

.content-id input:focus,
.content-id input:active {
    outline: none;
}

.content-id label {
    padding-right: 10px;
}

.ace-form-buttons {
    margin-top: 15px;
    text-align: right;
}

.new-links-alert {
    display: none;
    text-align: left;
    margin: 16px;
}

.close-alert {
    float: right;
    font-size: 16px;
    padding: 0px 8px;
}

.close-alert:hover {
    cursor: pointer;
    color: #ffffff;
}

.progress-bar-container {
    margin-left: -15px;
    margin-right: -15px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.progress-bar {
    height: 3px;
    width: 0px;
    transition: none;
}

.add-sign:hover {
    color: #000000;
    cursor: pointer;
}

.tooltip-text {
    font-size: 14px;
    width: 140px;
    padding: 5px 0px;
    text-align: center;
    color: #fff;
    background-color: black;
    border-radius: 6px;
    visibility: hidden;

    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
}

.add-ace-stream:hover .tooltip-text {
    visibility: visible;
}

#acestreams .first-row {
    border-top: none;
}

#acestreams table {
    margin-bottom: 0px;
}