{% load staticfiles %}
{% load base_template_methods %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google" content="notranslate">

    <link rel="icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}" >
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block css %}
    {% endblock %}

    <title>
        {% block title %}
        Soccerstreams
        {% endblock %}
    </title>
</head>
<body>
<div id="nav" class="container-fluid">
    <div id="nav-header" class="clearfix">
        <div id="nav-title">
            {% block navtitle %}
            {% endblock %}
        </div>
        <div id="user-profile">
            {% if user.is_authenticated %}
            <div class="dropdown">
                <div class="user-display-name">
                    <div id="user-profile-avatar">
                        {% if user.useravatar %}
                        {% with avatar=get_avatar_instance %}
                        <img src="data:image/{{ avatar.format }};base64,{{ user|get_avatar }}" width="25" height="25"/>
                        {% endwith %}
                        {% else %}
                        <i class="fa fa-user-circle"></i>
                        {% endif %}
                    </div>
                    <div>
                        {{ user.get_full_name }}
                        <i class="fa fa-caret-down"></i>
                    </div>
                </div>
                <div id="user-profile-dropdown" class="dropdown-content">
                    <a href="{% url 'change_password' %}">Change Password</a>
                    <a href="{% url 'user_profile' %}">User Profile</a>
                </div>
            </div>
            <!--<span class="separator">|</span>-->
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </div>
    {% block navoptions %}
    {% endblock %}
</div>

{% block content %}
{% endblock %}
<div id="footer" class="container-fluid">
    <div class="row">
        <div class="col">
            <a href="{% url 'about' %}">About</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script>
    window.jQuery || document.write('<script src="{% static 'bootstrap/js/vendor/jquery-3.3.1.min.js' %}"><\/script>')
    window.angular || document.write('<script src="{% static 'angularjs/angularjs-1.7.8.min.js' %}"><\/script>')
</script>
<script src="{% static 'js/main.js' %}"></script>
{% block script %}
{% endblock %}
</body>
</html>
