{% load staticfiles %}

<div id="aboutMeModal" class="container modal">
    <div class="modal-content">
        <div class="row">
            <div class="col">
                <div class="modal-header">
                    <h5 class="">About Me</h5>
                    <div class="close-button">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="modal-body">
                    <div class="row">
                        <div class="col about-me-text">
                            <p>Hi, Welcome to SoccerStreams!</p>
                            <p>I created this website to make it easy for you to find AceStreams for the soccer matches that are happening today.</p>
                            <p>You will also find other information like team lineups prior to game start and if logged in, you can also submit your own AceStreams links!</p>
                            <p>My name is Harman Gill. In my free time, I'm usually working on my personal projects or playing Fifa 20.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="modal-footer">
                    <a href="https://www.linkedin.com/in/harman-gill-b85524199" target="_blank">
                        <img src="{% static 'main/static/img/linkedin-icon_square_32x32.png' %}" alt="LinkedIn" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>