{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'users/css/auth.css' %}">
{% endblock %}

{% block title %}
Change password
{% endblock %}

{% block navtitle %}
<a href="/">Home</a>
{% endblock %}

{% block content %}
<div id="auth-form-wrapper" ng-app="soccerStreams" ng-controller="ChangePasswordController" class="container content">
    <div class="row auth-form-container wrapper-outline">
        <div class="col auth-form">
            <div id="heading-text">Change password</div>
            <div id="heading-subtext">of your Soccerstreams account</div>
            <div id="auth-body">
                {% for field in form %}
                <div id="{{ field.name }}" class="auth-field-container">
                    {{ field }}
                    <div class="placeholder placeholder-text" aria-hidden="true">
                        {{ field.label }}
                    </div>
                    <div class="auth-form-field-border"></div>
                </div>
                {% if field.name == 'new_password1' %}
                <ul id="passwordHelpBlock" class="help-text">
                    {% for text in form.new_password1.help_text %}
                    <li class="form-text text-muted">{{ text }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endfor %}
                {% csrf_token %}
                {% verbatim %}
                <password-strength-meter field="new_password1"></password-strength-meter>
                {% endverbatim %}
                <div class="form-actions">
                    <div id="submit-form-button">
                        <button class="btn btn-primary" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'users/js/auth.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/app/app.module.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/app/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/app/authentication/change-password/change-password.module.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/app/authentication/change-password/change-password.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/app/password-strength-meter/password-strength-meter.module.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/app/password-strength-meter/password-strength-meter.component.js' %}"></script>
{% endblock %}