{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'users/css/auth.css' %}">
{% endblock %}

{% block title %}
Log in to Soccerstreams
{% endblock %}

{% block navtitle %}
<a href="/">Home</a>
{% endblock %}

{% block content %}
<div id="auth-form-wrapper" class="container content">
    <div class="row auth-form-container wrapper-outline">
        <div class="col auth-form">
            <div id="heading-text">Sign in</div>
            <div id="heading-subtext">with your Soccerstreams account</div>
            <div id="auth-body">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ data.next }}">
                    <div id="username" class="auth-field-container">
                        {{ form.username }}
                        <div class="placeholder placeholder-text" aria-hidden="true">Username</div>
                        <div class="auth-form-field-border"></div>
                    </div>
                    <div id="password" class="auth-field-container">
                        {{ form.password }}
                        <div class="placeholder placeholder-text" aria-hidden="true">Password</div>
                        <div class="auth-form-field-border"></div>
                    </div>
                    {% if form.errors %}
                    {% for key, values in form.errors.items %}
                    {% for value in values %}
                    <div class="alert alert-danger">{{ value }}</div>
                    {% endfor %}
                    {% endfor %}
                    {% endif %}
                    <div class="form-actions">
                        <div id="action-link">
                            <a href="#">Forgot password?</a>
                        </div>
                        <div id="submit-form-button">
                            <input class="btn btn-primary" type="submit" value="Login">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'users/js/auth.js' %}"></script>
{% endblock %}