{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'users/static/css/auth.css' %}">
{% endblock %}

{% block title %}
Log out successful!
{% endblock %}

{% block content %}
<div id="auth-form-wrapper" class="container content">
    <div class="row auth-form-container wrapper-outline">
        <div class="col auth-form">
            You are now successfully logged out.
            <a href="{% url 'login' %}">Log back in</a> or go to <a href="/">homepage</a>.
        </div>
    </div>
</div>
{% endblock %}