{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
All Games
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/games.css' %}">
{% endblock %}

{% block content %}
{% if not data.matches %}
<div class="alert alert-info">There are no games going on right now.</div>
{% else %}
<input id="isMobile" name="isMobile" type="hidden" value="{{ data.is_mobile_tablet }}">
<div class="row">
    <div class="col">
        <div class="list-group">
            {% for match in data.matches %}
            <div class="list-group-item list-games">
                <h3> {{ match.match }}</h3>
                <p>{{ match.time }}</p>
                <div class="pull-right">
                    {% if match.aceLink %}
                    <a class="btn btn-primary" href="{% url 'watch_game' %}match_id={{ match.id }}" role="button">
                        <i class="fa fa-play-circle-o"></i><span class="d-none d-sm-inline"> AceStreams</span>
                    </a>
                    {% endif %}
                    {% if not data.is_mobile_tablet %}
                    <button class="btn btn-primary" type="button" value="btn_{{ match.id }}" onclick="d_getMatchInfo(this)">
                        <i class="fa fa-info-circle"></i><span class="d-none d-sm-inline"> More Info</span>
                    </button>
                    {% else %}
                    <button class="btn btn-primary" type="button" value="mobileBtn_{{ match.id }}" data-target="#gameInfo_{{ match.id }}" aria-expanded="false" aria-controls="gameInfo_{{ match.id }}" onclick="m_getMatchInfo(this)">
                        <i class="fa fa-info-circle"></i><span class="d-none d-sm-inline"> More Info</span>
                    </button>
                    {% endif %}
                </div>
            </div>
            {% if data.is_mobile_tablet %}
            <div class="collapse mobile-game-info" id="gameInfo_{{ match.id }}"></div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% if not data.is_mobile_tablet %}
    <div class="col-lg-6 col-md-6">
        <div id="game_info" class="game-info-hidden"></div>
    </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block js %}
<script src="{% static 'js/games.js' %}"></script>
{% endblock %}