{% extends 'base_2.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/league_matches.css' %}">
{% endblock %}

{% block nav %}
<div id="nav" class="container-fluid">
    <div id="nav-header">
        <div id="nav-title">
            {{ data.league_title }}
        </div>
    </div>
    <div id="nav-pills" class="content-width" role="navigation">
        <ul>
            <li class="nav-pill active" data-league="PL" data-league-name="Premier League">EPL</li>
            <li class="nav-pill" data-league="PD" data-league-name="La Liga">La Liga</li>
            <li class="nav-pill" data-league="BL1" data-league-name="Bundesliga">Bundesliga</a>
            <li class="nav-pill" data-league="SA" data-league-name="Seria A">Seria A</li>
            <li class="nav-pill" data-league="FL1" data-league-name="Ligue 1">Ligue 1</li>
            <li class="nav-pill" data-league="CL" data-league-name="UEFA Champions League">UCL</li>
            <li class="nav-pill" data-league="DED" data-league-name="Eredivisie">Eredivisie</li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="wrapper" class="container content-width wrapper-outline">
{% include 'games/templates/league_matches.html' %}
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}