<div class="lineups">
    <div class="top-d small-d d-border position-center"></div>
    <div class="top-d big-d d-border position-center"></div>
    <div class="top-d-circle d-circle position-center"></div>
    <div class="center-circle position-center"></div>
    <div id="home-team" class="half">
        <div class="gutter"></div>
        <div class="row" style="height:24%;">
            {% for player in data.home_team.lineup.players.goalkeeper %}
            <div class="col player">
                <div class="player-circle"></div>
                <div>{{player.player}}</div>
            </div>
            {% endfor %}
        </div>
        <div class="row" style="height:24%;">
            {% for player in data.home_team.lineup.players.defense %}
            <div class="col player">
                <div class="player-circle"></div>
                <div>{{player.player}}</div>
            </div>
            {% endfor %}
        </div>
        <div class="row" style="height:24%;">
            {% for player in data.home_team.lineup.players.midfield %}
            <div class="col player">
                <div class="player-circle"></div>
                <div>{{player.player}}</div>
            </div>
            {% endfor %}
        </div>
        <div class="row" style="height:24%;">
            {% for player in data.home_team.lineup.players.attack %}
            <div class="col player">
                <div class="player-circle"></div>
                <div>{{player.player}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="half-line"></div>
    <div id="away-team" class="half">
        <div class="row" style="height:24%;">
            {% for player in data.away_team.lineup.players.attack %}
            <div class="col player">
                <div class="player-circle"></div>
                <div>{{player.player}}</div>
            </div>
            {% endfor %}
        </div>
        <div class="row" style="height:24%;">
            {% for player in data.away_team.lineup.players.midfield %}
            <div class="col player">
                <div class="player-circle"></div>
                <div>{{player.player}}</div>
            </div>
            {% endfor %}
        </div>
        <div class="row" style="height:24%;">
            {% for player in data.away_team.lineup.players.defense %}
            <div class="col player">
                <div class="player-circle"></div>
                <div>{{player.player}}</div>
            </div>
            {% endfor %}
        </div>
        <div class="row" style="height:24%;">
            {% for player in data.away_team.lineup.players.goalkeeper %}
            <div class="col player">
                <div class="player-circle"></div>
                <div>{{player.player}}</div>
            </div>
            {% endfor %}
        </div>
        <div class="gutter"></div>
    </div>
    <div class="bottom-d-circle d-circle position-center"></div>
    <div class="bottom-d big-d d-border position-center"></div>
    <div class="bottom-d small-d d-border position-center"></div>
</div>