{% extends 'base_2.html' %}
{% load staticfiles %}
{% load element_classes %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/watch_game.css' %}">
<link rel="stylesheet" href="{% static 'css/lineups.css' %}">
<link rel="stylesheet" href="{% static 'css/acestreams.css' %}">
{% endblock %}

{% block navtitle %}
{{ data.display_name }}
{% endblock %}

{% block content %}
<div id="matchup-wrapper" class="container content wrapper-outline">
    <div id="matchup-header" class="row">
        <div id="matchup-info-wrapper" class="col">
            <div id="matchup-info">
                <div class="row">
                    <div class="col">
                        <span>
                            <a id="matchup-league" href="{{ data.match.league.code|get_league_homepage_url }}">{{ data.match.league.name }}</a>
                            <span> &#183; </span>
                        </span>
                        <span>{{ data.match.match_date_time }}</span>
                    </div>
                    <div class="col-3">
                        <span id="matchup-status">{{ data.match.get_status_display }}</span>
                    </div>
                </div>
            </div>
            <div id="matchup-teams">
                <div class="row">
                    <div class="col">
                        <div class="center-aligned">
                            <img src="{{ data.home_team.team.logo_96x96 }}" width="48" height="48" />
                        </div>
                    </div>
                    <div class="col-4"></div>
                    <div class="col">
                        <div class="center-aligned">
                            <img src="{{ data.away_team.team.logo_96x96 }}" width="48" height="48" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col team-name">{{ data.home_team.name }}</div>
                    <div class="col-4 separator">VS</div>
                    <div class="col team-name">{{ data.away_team.name }}</div>
                </div>
            </div>
        </div>
    </div>
    <div id="matchup-nav" class="row">
        <div class="col">
            <ul role="tablist">
                <li id="default-open" class="tab-active" role="tab" data-tab-content="lineups">Lineups</li>
                <li role="tab" data-tab-content="acestreams">AceStreams</li>
                <li role="tab" data-tab-content="add-acestream">New</li>
            </ul>
        </div>
    </div>
    <div id="lineups" class="row tab-content">
        {% if data.home_team.lineup.lineupAvailable and data.away_team.lineup.lineupAvailable %}
            <div class="col lineups-container">
            {% include 'games/templates/lineups.html' %}
            </div>
        {% else %}
            <div class="col lineups-container" style="margin: 0px; background-color: #ffffff;">
                <div class="informational">No lineup information available.</div>
            </div>
        {% endif %}
    </div>
    <div id="acestreams" class="row tab-content">
        <div class="col ace-streams-container">
            {% if data.links %}
            {% include 'games/templates/acestreams.html' %}
            {% else %}
            <div class="informational">No AceStreams available.</div>
            {% endif %}
        </div>
    </div>
    <div id="add-acestream" class="row tab-content">
        <div class="col add-ace-stream-container">
            {% if user.is_authenticated %}
            {% include 'games/templates/add_acestream.html' %}
            {% else %}
            <div class="informational"><a href="{% url 'login' %}">Login</a> required to add AceStreams.</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/watch_game.js' %}"></script>
{% endblock %}